<div fxLayout="column" class="container" fxFlexFill>
  <div fxFlex="100" class="first">
    <h1>Angular Animations</h1>
    <h3>
      Below is the implementation of many css animations effects that are implements in angular using angular <a
        href="https://www.npmjs.com/package/@angular/animations" target="_blank">animation</a> module
    </h3>

    <div>
      <mat-form-field>
        <mat-select [formControl]="selectControl">
          <mat-option [attr.placeholder]="'select animation'" value=null>
            Select Animation
          </mat-option>
          <mat-option [value]="animation?.value" *ngFor="let animation of animationArr">
            {{animation?.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="first__actions">
      <button [disabled]=" selectControl?.value === 'null'" (click)="toggle()" mat-raised-button color="warn">
        Animate
      </button>
    </div>
  </div>

  <div *ngIf="selectControl && selectControl?.value === 'zoomIn'" (@zoomIn.done)="this.isOpened = false"
    [@zoomIn]="isOpened?'opened':'closed'" class="animation_container">
  </div>
  <div *ngIf="selectControl && selectControl?.value === 'zoomOut'" (@zoomOut.done)="this.isOpened = false"
    [@zoomOut]="isOpened?'opened':'closed'" class="animation_container">
  </div>
