<div fxLayout="row" fxFlexFill>
  <div fxFlex="100" class="first">
    <h1>Angular Animations</h1>
    <h3>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima quis, repellat tempore quasi rem, nam aperiam
      dicta officiis recusandae aspernatur laudantium distinctio iusto? Consequuntur quisquam sunt labore quis
      blanditiis quaerat!
      <br>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat cum reiciendis sequi incidunt eligendi suscipit
      sit quas, nam nostrum aperiam molestias! Rerum sequi, sapiente quasi dicta accusamus libero optio cum?
    </h3>

    <div>
      <mat-form-field>
        <mat-select placeholder="common animations">
          <mat-option>
            Slide In
          </mat-option>
          <mat-option>
            Slide Out
          </mat-option>
          <mat-option>
            dummy
          </mat-option>
          <mat-option>
            dummy 1
          </mat-option>
          <mat-option>
            dummy 2
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="first__actions">
      <button mat-raised-button color="warn">
        Animate
      </button>
    </div>
  </div>
</div>
