.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

// .list-wrapper {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   position: relative;
//   &__topBtn {
//     margin-top: 70vh;
//     position: fixed;
//     right: 27px;
//     mat-icon {
//       cursor: pointer;
//     }
//   }
//   // width: 200px;
// }
